@import url('https://fonts.googleapis.com/css?family=Abel|Oswald:700|Yellowtail|Patrick+Hand');


* {
    font-family: times;
  }

body {
    background: #fff;
  }

  .print, .date {
    color: #a9a8a5;
    font-family: 'Abel', sans-serif;
    font-size: .8em;
    margin: 0;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 33px;
  }
  
  .date {
    float: left;
  }
  
  .print {
    text-decoration: none;
    padding-left: 30px;
    float: right;
  }
  
  .print img {
    margin-right: 3px;
  }

  main p {
    color: #333;
    font-size: 1.2em;
    line-height: 1.3em;
    text-indent: 30px;
    margin: 20px 0px;
  }